<form method="post" class="col-md-4 col-centered" ng-submit="ok()">
 <div class="modal-header">
  <h3 class="modal-title">{{cnt.title}}</h3>
 </div>
 <div class="modal-body">
  <div class="inter">
  	<label for="email">{{cnt.email}}</label>
  	<input name="email" type="email" ng-model="form.email" data-toggle="tooltip" data-placement="right" title="{{cnt.tooltip.email}}" required="required"/>
  </div>
  <message-box class="inter text-center"></message-box>
 </div>
 <div class="modal-footer">
  <input type="submit" class="btn btn-primary" value="{{cnt.button}}" />
 </div>
</form>