<form method="post" class="col-md-6 col-centered" >
   <div class="inter">
  	<label for="name">{{content.name}}</label>
  	<input name="name" type="text" ng-model="form.name" required/>
   </div>
   <div class="inter">
  	<label for="surname">{{content.surname}}</label>
  	<input name="surname" type="text" ng-model="form.surname" required/>
   </div>
   <div class="inter">
  	<label for="company">{{content.company}}</label>
  	<input name="company" type="text" ng-model="form.company" />
   </div>
   <div class="inter">
  	<label for="position">{{content.position}}</label>
  	<input name="position" type="text" ng-model="form.position" />
   </div>
   <div class="inter">
  	<label for="mobile">{{content.mobile}}</label>
  	<input name="mobile" type="text" ng-model="form.mobile" />
   </div>
</form>